*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    outline: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.form-control:focus{
     box-shadow: none;
     border-color: inherit;
}